.btn-group {
    float: right;
} 

}
#breed p {
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#breed {
    margin-top: 100px;
    flex: 1;
}
.stuff {
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    text-align: center;
}
#forsell {
    display: flex;
    padding: 10px;
    justify-content: center;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    align-items: baseline;
}
#new_stuff {
    display: flex;
    flex-wrap: wrap;
}
#new_stuf_title {
    width: 100%;
    text-align: center;
}
.pad {
    padding: 10px;
}
#cool{
    margin-top: 100px;
}
#coolflex {
    display: flex;
    justify-content: center;
    display: 10px;
}
#kot1 {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    color: black;
}
#kot4 {
    position: relative;
    text-align: center;
    color: black;
}
#kot6 {
    position: relative;
    text-align: center;
    color: black;
}
.padding {
    padding: 10px;
}
.size {
    height: 300px;
    opacity: 0.5;
}
.sztos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#wow {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    display: 10px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 100px;
}
#wow div {
    margin: 15px;
}
.wow69 {
    text-align: center;
    border-style: solid;
    border-color: grey;
    border-width: 1px; 
    flex-basis: 200px; 
    padding: 10px;
}

