.btn-group {
    float: right;
} 
#bigcat {
    background-image: url(./img/3\ kot.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
    background-size: cover;
}
#bigcat h3, p {
    color: whitesmoke;
    text-align: center;
}
#click {
    margin-left: 47%;
    margin-right: 47%;
}
#bigcat2 {
    padding-top: 110%;
}
