.btn-group {
    float: right;
} 
#bigcat {
    background-image: url(./img/3\ kot.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
    background-size: cover;
    color: whitesmoke;
    text-align: center;
}

#click {
    margin-left: 47%;
    margin-right: 47%;
}
#bigcat2 {
    padding-top: 800px;
}
#breed p {
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#breed {
    margin-top: 100px;
    flex: 1;
}
.stuff {
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}
#forsell {
    display: flex;
    padding: 10px;
    justify-content: center;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    align-items: baseline;
}
#new_stuff {
    display: flex;
    flex: 3;
}
.pad {
    padding: 10px;
}
#cool{
    margin-top: 100px;
}
#coolflex {
    display: flex;
    justify-content: center;
    display: 10px;
}
#kot1 {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    color: black;
}
#kot4 {
    position: relative;
    text-align: center;
    color: black;
}
#kot6 {
    position: relative;
    text-align: center;
    color: black;
}
.padding {
    padding: 10px;
}
.size {
    height: 300px;
    opacity: 0.5;
}
.sztos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




